/* overall style */

/* header deerh linkuudee underlinegui tsagaan bolgono */
a {
    color: white;
}

/*user menu drop down gargaj irehiin tuld profile zurgiig relative bolgoson*/
.profile-image {
    position: relative;
}

/* Dropdown Styling suuder nemj naashaa haragduulj baigaa */
#user-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 0.1rem solid var(--brand-color);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.4rem;
    min-width: 8rem;
}

#user-dropdown a {
    display: block;
    padding: 0.5rem 0.8rem;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

/* buh a deeree border bottomtoi bolgoson tul suuliin child bordergui bolgoson */
#user-dropdown a:last-child {
    border-bottom: none;
}

/* js-r active classtai bolgood haruulna*/
#user-dropdown.active {
    display: block;
}

/* header style */

.header-top {
    padding: 2.5rem var(--container-padding) 1rem var(--container-padding);
    gap: 2.75rem;
    align-items: end;
    border: none;
    background: linear-gradient(to bottom, var(--brand-color), rgba(46, 37, 211, 0.65));
}

.profile-image {
    margin-left: auto;
    justify-content: center;
}

a.profile-image>img {
    width: 3rem;
    border-radius: 50%;
}

.logo {
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.5rem;
}

/* main */

.main {
    display: flex;
}

/* suragchiin medeelel */

.link-img {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
}

.link-img img {
    margin-bottom: 2rem;
}

.info-container ul {
    list-style-type: none;
    line-height: 2rem;
}

.CV-link {
    font-size: 1rem;
    color: #3229DD;
}

.info-container {
    padding: 1.5rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* cv ilgeesen tuuh */

.huseltuud h4 {
    padding: 2rem 5rem;
    font-size: 1.5rem;
    color: #5b5266;
}

.huseltuud h3 {
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center; 
    margin: 0 auto; 
}

@keyframes glitter {
    0% {
        background-position: -200% 0;
        transform: scale(1);
    }

    50% {
        background-position: 200% 0;
        transform: scale(1.05);
    }

    100% {
        background-position: -200% 0;
        transform: scale(1);
    }
}

.glitter {
    font-size: 1.3rem;
    animation: glitter 3s linear infinite;
}

.huseltuud .request-section {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
}

.huseltuud article ul {
    border-left: 0.5px solid;
    padding-left: 15px;
    margin: 1rem;
    list-style: none;
    line-height: 0.3rem;
    font-size: 1.2rem;
}

.huseltuud article ul li {
    padding-left: 15px;
}


.huseltuud article p {
    font-size: 14px;
}


/* footer */

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 2rem;
    border: var(--border) var(--brand-color);
    border-radius: 0.25rem;
    background: linear-gradient(to top, #3229dd, rgba(50, 41, 221, 0.5) 80%, #3229dd);
}

.footer-logo {
    flex: 2;
    color: white;
    font-size: 0.75rem;
}

.footer-logo .logo {
    background-color: var(--brand-color);
    color: white;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.5rem;
    width: max-content;
}

footer nav {
    flex: 1;
    display: block;
    justify-content: space-between;
    color: white;
}

footer nav a {
    display: block;
    font-size: 0.75rem;
}

footer nav h4 {
    font-size: 0.75rem;
    font-weight: 600;
    padding-bottom: 0.4rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

div.footer-logo>p:nth-child(2) {
    align-content: end;
    width: 100%;
    font-size: 1rem;
}

div.footer-logo>p:nth-child(3) {
    font-size: 0.75rem;
}

.footer-bottom {
    font-size: 0.75rem;
}

div.footer-logo>p:nth-child(2) {
    align-content: end;
    width: 100%;
    font-size: 1.2rem;
}

div.footer-logo>p:nth-child(3) {
    font-size: 1rem;
}

/* Dropdown-ийг нууцлах */
.dropdown {
    display: none;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.dropdown.open {
    display: block;
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
}

.dropdown ul li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.request-section.desktop-none article h3 {
    text-align: center;
    background-color: #4e45d0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
    margin: auto;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
a, button {
    min-width: 48px;
    min-height: 48px;
    padding: 10px;
    display: inline-block;
  }

/* Default style */


/* Mobile дээр харагдах хэсэг анх нуух */
.request-section.desktop-none {
    display: none;
}

/* Mobile view (max-width: 768px) */
@media screen and (max-width: 768px) {
    .request-section.desktop-none {
        display: block; /* Mobile дээр харагдах */
    }
    .request-section.mobile-none {
        display: none; /* Desktop хэсгийг нуух */
    }

    .huseltuud .request-section {
        width: 100%;
    }

    .header-top {
        border: none;
        background: linear-gradient(to bottom, var(--brand-color), rgba(46, 37, 211, 0.65));
    }

    .mobile-nav {
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        justify-content: center;
        padding: 0.8rem;
        box-shadow: 1rem 0px 4px 1px #eaeaea;
    }

    .mobile-nav-icon {
        font-size: 2rem;
        color: var(--brand-color);
        justify-self: center;
        display: grid;
        gap: 0.2rem
    }

    .mobile-nav-icon i {
        justify-self: center;
    }

    .mobile-nav-icon p {
        margin: 0;
        font-size: 0.8rem;
        color: black;
    }

    .request-section.desktop-none {
        display: block;
    }

    /* Mобайл дээр Dropdown харуулах */

    .dropdown-content {
      display: none;  /* эхэндээ нууцлах */
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;  /* hover хийхэд dropdown гаргах */
    }
  }
  

/* Desktop view (min-width: 769px) */
@media screen and (min-width: 769px) {
    .request-section.desktop-none {
        display: none; /* Mobile хэсгийг нуух */
    }
    .request-section.mobile-none {
        display: grid; /* Desktop дээр хэвийн харагдах */
    }

    
}
