<!DOCTYPE html>
<html lang="mn">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>INTERN - List Page</title>
        <meta name="description" content="Заруудын жагсаалт гарч ирнэ">
        <script type="module" src="my-header.js"></script>
        <script type="module" src="my-footer.js"></script>
        <script type="module" src="my-ads.js"></script>
        <script type="module" src="my-ad-list.js"></script>
        <link rel="stylesheet" href="../pages/css/root.css">
        <link rel="stylesheet" href="../pages/css/list.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <my-header></my-header>
        <main>
            <article class="flex-col wrap container-padding-x">
                <h3>Олдсон зарууд</h3>
                <my-ad-list></my-ad-list>
            </article>
        </main>
        <my-footer></my-footer>

        <script>
            const isLoggedIn = localStorage.getItem('isLoggedIn');
            const profileImage = document.getElementById('profileImage');
            const profileLink = document.getElementById('profileLink');

            if (isLoggedIn) {
                profileImage.src = '../pics/profile.webp';
                profileLink.href = '../pages/studprofile.html';
            } else {
                profileLink.href = '../pages/signInStud.html';
            }
            profileLink.addEventListener('click', (event) => {
                if (!isLoggedIn) {
                    window.location.href = '../pages/signInStud.html';
                }
            });
        </script>
    </body>

</html>